body, html{
    height: 100%;
    margin: 0;

}
*{
    box-sizing: border-box;
}
#bg_img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}
.hidden{
    display: none;
}
#container{
    display: flex;
}
