@import './lib/palette.scss';

.styledButton{
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.25rem 1rem;
  color: white;
  outline: none;
  cursor: pointer;

  background: $button_grey;
  &:hover{
    background: $button_grey_hover;
  }
}