*{
    font-family: 'Roboto', sans-serif;
}
body{
    margin: 10px;
    display: flex;
    padding: 20px;
    background-color: antiquewhite;
    flex-wrap: wrap;
}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
    width: 100%;
}
.plus{
    position: fixed;
    right: 0;
    bottom: 0;
}
